.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #333333;
}

.main-layout{
  position: absolute;
  top: 100px;
  left: 0;
  border: 1px solid green;
  margin: 25px;
}

.information{
  font-family: "Arial", Arial, sans-serif;
}

.square {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 320px;
    height: 320px;
    border: 1px solid black;
}

body{
    background-color: #ffffff;
}
