*{
    margin: 0px;
    padding: 0px;
}

h2{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

body{
  background-size:cover;
  background-color: #F9F9F9;
}

.header{
    top: 0;
    padding: 70px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(33, 33, 33, 0.4);
    background-image: url("../img/qwerty_dark.jpg");
    background-size:cover;
}

.header-title{
    text-align: center;
    font-family: Courier, monospace;
    font-size: 26px;
    margin-top: 15px;
    color: #FFFFFF;
}

.header-title-2{
    padding: 6px;
    text-align: center;
    font-family: Courier, monospace;
    font-size: 18px;
    color: #B2EBF2;
}

.header-title-3{
    text-align: center;
    font-family: Courier, monospace;
    font-size: 14px;
    margin-top: 40px;
    color: #FFFFFF;
}

.header-img-div{
    max-width: 170px;
    max-height: 170px;
    margin: auto;
}

.header-image{
    width:170px;
    height:170px;
    border: 1px solid #DDDDDD;
    border-radius: 0%;
}

.header-link-img-div{
  margin: auto;
  margin-top: 30px;
  max-width: 185px;
}

.header-image-link{
  width:35px;
  height:35px;
  margin: 3px;
  border: 1px solid #FFFFFF;
  opacity: 0.8;
}

.header-image-link:hover{
    opacity: 1.0;
}

.header-location{
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: oblique;
  color: #494949;
}

.header-email{
  margin-top: 6px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: oblique;
  color: #494949;
  text-decoration: underline;
}

.main-layout{
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 50px;
  width: 70%;
}

.information-title{
  font-family: "Arial", Arial, sans-serif;
  color: #607D8B;
  margin-bottom: 26px;
}

.information{
  font-family: "Arial", Arial, sans-serif;
  font-size: 110%;
  color: #696969;
  text-align: justify;
}

.square {
    padding: 6px;
    margin-bottom: 60px;
}

.panel{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
  margin: 10px;
}

.panel:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.panel-title{
  background-color: #455A64;
  color: #FFF;
  padding: 12px;
  font-weight: bold;
}

.panel-content{
  padding: 3px;
  border: 1px;
  padding: 18px;
}

.panel-content p{
  margin-bottom: 10px;
  color: #333333;
}

.knownledge-item{
    display: inline-block;
    width: 190px;
    padding: 5px;

    padding-left: 20px;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #CFD8DC;
    border-radius: 9px;
}

.knownledge-item:hover{
  border-color: #90A4AE;
  cursor: pointer;
}

.highlight{
  color: #78909C;
}

.code-bg{
  background-color: #333333;
  color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 3px;
}

.code-tab-bg{
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;

  border: 0px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;

  background-color: #484848;
}

.code-tab{
  margin-left: 1px;
  margin-right: 0px;
  margin-bottom: -1px;

  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;

  border: 0px;
  border-style: solid;
  border-color: #C0C0C0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-color: #333333;

  width: 90px;
  background-color: #333333;

  position: relative;
  color: #C0DEF0;
  display:inline-block;
  cursor: pointer;
}

.unselected{
  background-color: #3C3C3C;
}

.tab-content{
  padding: 18px;
  font-family: "Courier New", Courier, serif;
  font-weight: bold;
  font-size: 14px;
}

.x-close{
  color: #C0C0C0;
  position: absolute;
  right: 5px;
}

.x-close:hover{
  color: #FFFFFF;
}

.highlight-code{
  /*color: #69A982;*/
  color: #aec6cf;
}

.highlight-code-str{
  color: #B3E5FC;
}

.comment-code{
  color: #A0A0A0;
  font-style: italic;
}
