*{
    margin: 0px;
    padding: 0px;
}

h2{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

body{
  background-image: url("../img/clean.jpg");
  background-size:cover;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: rgba(105, 121, 153, 0.4);
}

.header-title{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 66px;
    color: #333333;
}

.header-title-2{
    color: black;
    padding: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #696969;
}

.header-img-div{
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    margin-top: 30px;
}

.header-image{
    width:200px;
    height:200px;
    border-radius: 50%;
}

.header-link-img-div{
  margin: auto;
  margin-top: 40px;
  max-width: 140px;
}

.header-image-link{
  width:40px;
  height:40px;
  opacity: 0.8;
}

.header-image-link:hover{
    opacity: 1.0;
}

.header-location{
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: oblique;
  color: #494949;
}

.header-email{
  margin-top: 6px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: oblique;
  color: #494949;
  text-decoration: underline;
}

.main-layout{
  position: relative;
  left: 350px;
  margin-top: 100px;
  width: 69%;
}

.information-title{
  font-family: "Arial", Arial, sans-serif;
  color: #697999;
}

.information{
  font-family: "Arial", Arial, sans-serif;
  color: #696969;
  text-align: justify;
}

.square {
    padding: 6px;
    margin-bottom: 30px;
}

.knownledge-item{
    display: inline-block;
    width: 200px;
    padding: 3px;
}
