.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  /*margin-right: 127px;*/
}

body{
  background-color: #333333;
}

footer{
  background-color: #000000;
  padding: 50px;
}

h1{
  color: #FFFFFF;
  font-size: 40px;
}

h2{
  color: #FFFFFF;
}

h3{
  color: #7090A0;
  font-size: 22px;
}

a{
  color: #D39393;
}

a:hover{
  color: #E37373;
}

p{
  color: #FFFFFF;
  font-size: 16px;
}

li{
  color: #FFFFFF;
  font-size: 16px;
}

.rep-link{
  font-size: 22px;
}

.li-rep-link{
  margin-bottom: 50px;
  color: #D39393;
}

.p-rep-info{
  color: #C0C0C0;
  font-style: italic;
  font-size: 15px;
}
