.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

body{
  background-image: url("https://samirsales.github.io/includes/img/office_bg.jpg");
  background-size:cover;
  /*background-color: #333333;*/
}

.transparent-layout{
  background-color: rgba(51,51,51,0.85);
  border: 1px solid white;
  border-radius: 8px;
}

footer{
  background-color: #000000;
  padding: 50px;
}

h1{
  color: #FFFFFF;
  font-size: 40px;
}

h2{
  color: #FFFFFF;
}

h3{
  color: #80A0C0;
  font-size: 22px;
}

a{
  color: #E37373;
}

a:hover{
  color: #FF6363;
}

p{
  color: #FFFFFF;
  font-size: 16px;
}

li{
  color: #FFFFFF;
  font-size: 16px;
}

.rep-link{
  font-size: 22px;
}

.li-rep-link{
  margin-bottom: 50px;
  color: #D39393;
}

.p-rep-info{
  color: #C0C0C0;
  font-style: italic;
  font-size: 15px;
}

/*SCROLL BAR STYLE*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
