*{
    margin: 0px;
    padding: 0px;
}

h2{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

body{
  background-image: url("../img/clean.jpg");
  background-size:cover;
}

.header{
    width: 100%;
    /*padding: 30px;*/
    background: rgba(105, 121, 153, 0.4);
}

.header-title{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 0px;
    padding-top: 30px;
    color: #333333;
}

.header-title-2{
    color: black;
    padding: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #696969;
}

.header-img-div{
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    margin-top: 20px;
}

.header-image{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

.header-link-img-div{
  margin: auto;
  padding: 30px;
  max-width: 140px;
}

.header-image-link{
  width:40px;
  height:40px;
  opacity: 0.8;
}

.header-image-link:hover{
    opacity: 1.0;
}

.header-location{
  margin-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: oblique;
  color: #494949;
}

.header-email{
  margin-top: 6px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: oblique;
  color: #494949;
  text-decoration: underline;
}

.main-layout{
  padding: 15px;
}

.information-title{
  font-family: "Arial", Arial, sans-serif;
  color: #697999;
  font-size: 30px;
}

.information{
  width: 100%;
  font-family: "Arial", Arial, sans-serif;
  color: #696969;
  text-align: justify;
  font-size: 16px;
}

.square {
    padding: 6px;
    margin-bottom: 30px;
}

.knownledge-item{
    display: inline-block;
    width: 130px;
    padding: 6px;
}

.highlight{
  /*color: #696969;*/
  color: #69A982;
}
